.App {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #F5F5FC;
}

/* Colors and Fonts */
:root {
  /* Fonts and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.983rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.icon{
  font-size: var(--h2FontSize);
  cursor: pointer;
  color: #6B819E;
}